<div class="container">
    <!--
    <div class="page-header" id="banner">
        
    </div>
    -->
    <h4>Player Overview</h4>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><%= @model.name %></div>
                <div class="panel-body"><%= @model.system %></div>
                <div class="panel-body"><%= @model.systemCode %></div>
                <div class="panel-body"><%= @model.id %></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form id="search-form">    
            <div class="form-group">
                <input type="hidden" id="system" value="<%= @model.system %>" />
                <input type="hidden" id="name" value="<%= @model.name %>" />
                <label class="control-label">Find matches with:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="un2" placeholder="Username" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="submit">Search</button>
                    </span>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>