<h1>SHOW</h1>
<p><%= @model.name %></p>
<p><%= @model.system %></p>
<p><%= @model.systemCode %></p>
<p><%= @model.id %></p>
<input type="hidden" id="system" value="<%= @model.system %>" />
<input type="hidden" id="name" value="<%= @model.name %>" />
<input id="un2" class="un" type="text" placeholder="un2" /><button id="submit" type="button" class="btn btn-default">Submit</button>
